#grad{
  background-image: -webkit-linear-gradient(-180deg,, #68E768, #01e6f8);
  background-image: -moz-linear-gradient(-150deg, #68E768, #01e6f8);
  background-image: -ms-linear-gradient(-180deg, #68E768, #01e6f8);
  background-image: -o-linear-gradient(-220deg, #68E768, #01e6f8);
  background-image: linear-gradient(-180deg,#68E768, #01e6f8);
  z-index: -1;
}